body{
    font: 20px Arial, sans-serif;
}

.navbar {
    background-color: #298A08 ;
}

.quem-somos{
    background-color: rgb(108, 108, 250);
    color: white;
}

.margin{
        padding-bottom: 50px;
}
